# vim: ft=bash

# source .env if exists
test -f .env && source_env .env
## add a following line to .env
# export DATADOG_API_KEY=your-real-api-key
## i.e. `echo 'export DATADOG_API_KEY=your-real-api-key' >> .env`
